[Unit]
Description=systemd exporter

[Service]
User=systemd-exporter
Group=systemd-exporter

ExecStart=/usr/sbin/systemd_exporter

StandardOutput=journal
StandardError=journal
SyslogIdentifier=systemd-exporter

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
