[Unit]
Description=postgrest
After=migrations.service
Requires=migrations.service
ConditionPathExists=/vela/secrets/jwt/secret

[Service]
Environment="PGRST_DB_URI=postgres://authenticator@localhost:5432/postgres?sslmode=disable" 
Environment="PGRST_DB_SCHEMAS=public,storage"
Environment="PGRST_DB_USE_LEGACY_GUCS=false"
Environment="PGRST_APP_SETTINGS_JWT_EXP=3600"

User=postgrest
Group=postgrest

ExecStart=/bin/sh -c 'PGRST_JWT_SECRET="$(cat /vela/secrets/jwt/secret)" PGRST_APP_SETTINGS_JWT_SECRET="$(cat /vela/secrets/jwt/secret)" /usr/sbin/postgrest'

StandardOutput=journal
StandardError=journal
SyslogIdentifier=postgrest

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadOnlyPaths=/vela

[Install]
WantedBy=multi-user.target

