[Unit]
Description=storage
After=postgresql.service
Requires=postgresql.service
ConditionPathExists=/mnt/storage

[Service]
User=storage
Group=storage

Environment="DATABASE_URL=postgresql://supabase_storage_admin@127.0.0.1/postgres"
Environment="FILE_STORAGE_BACKEND_PATH=/mnt/storage"

WorkingDirectory=/opt/storage
ExecStart=sh -c 'PGRST_JWT_SECRET="$(cat /vela/secrets/jwt/secret)" node dist/start/server.js'

StandardOutput=journal
StandardError=journal
SyslogIdentifier=storage

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadOnlyPaths=/vela

[Install]
WantedBy=multi-user.target
